.habilidades th {

    background: black;
    color: white;
}

.habilidades thead th {
  /* não precisamos colocar font-weight e color
     pois já fizemos isso para todos os th */
    background: black;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}

.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
}

.habilidades {
    margin: 1em 0;
}
